.signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    

    @media screen and (min-width: 480px) {
        flex-direction: column;
        align-items: center;
    }

    @media screen and (min-width: 768px) {
        width: 450px;
        flex-direction: column;
        align-items: center;

    }

    @media screen and (min-width: 1200px) {
        display: flex;
        align-items: flex-start; 
    }

        
    & > .title {
        color: var(--secondary-background-color);
        margin-bottom: 20px;
    }
}

.signup__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    @media screen and (max-width: 480px) {
        flex-direction: column;
        align-items: center;
    }

    @media screen and (min-width: 768px) {
        flex-direction: column;
        align-items: center;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        flex-direction: row;
        align-items: flex-start; 
    }

    & input {
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 16px;
        width: 100%;
       
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        outline: transparent;
    
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
    
        color: var(--secondary-background-color);
        background-color: #2F303A;
    
        transition-property: border;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);;
    }
}

.signup__email {
    display: flex;
    width: 100%;
    margin-bottom: 20px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    @media screen and (min-width: 480px) {
        margin-bottom: 20px;
    }

    @media screen and (min-width: 768px) {
        margin-bottom: 20px;
    }

    @media screen and (min-width: 1200px) {
        margin-right: 12px;
        margin-bottom: 0;
        width: 358px;
        height: 50px;
    }

    &:focus-within > input {
        border: 1px solid var(--accent-color);
    }
}

.btn-submit {
    padding: 10px 29px;
    margin-left: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
   
    display: flex;
    align-items: center;
    text-align: center;
    width: 200px;
    height: 50px;
    letter-spacing: 0.06em;
    border: none;
    align-items: center;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    color: var(--secondary-background-color);
    background-color: var(--accent-color);

    transition-property: background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    background-color:var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); 
    }
}

.icon__send {
    margin-left: 10px;
}
